/* lOGIN HTML FILE */

body {
    font-family: 'Inter', sans-serif;
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    position: absolute;
    right: 10%
  


}

/* unvisited link */
a:link {
    color:  #000000; 
  }
  
  /* visited link */
  a:visited {
    color: #000000; 
  }
  
  /* mouse over link */
  a:hover {
    color: Gray; 
    
  }
  
  /* selected link */
  a:active {
    
      color:  #000000; 
  }
  
  
  

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 3px;
}

nav ul li a {
    font-size: 28px;
    color: var(--dark-color);
    text-decoration: none;
}

nav ul li a.active {
    color: var(--gray-color);
}

a.btn {
   border-radius: 10px;
   padding: 8px 8px;
   font-size: 22px;
   text-decoration: none;
   font-weight: bold;
   
}

a.btn.light {
    border: 1px solid var(--white-color)
}

a.btn.light:hover {
background: var(--white-color);
color: var(--gray-color)
}

div.cart{
position: absolute;
width: 31px;
height: 31px;
right: 8.5%;
top: 4.8%;

}

div.logo{
position: absolute;
left: 2%; 
top: 4.8%;

}

div.nav2{ 
Position: absolute;
right: 8%; 
top: 1%;
font-size: 20px;
text-decoration: none;
font-family: 'Inter', sans-serif;
color: var(--dark-color); 

}



div.nav2 ul {
    display: flex;
    list-style: none;
}

div.nav2 ul li {
    margin: 0 3px;

}

div.nav2 ul li a {
    font-size: 20px;
    color: var(--dark-color);
    text-decoration: none;
}

div.nav2 ul li a.active {
    color: var(--gray-color);
}


form.Searchbar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 120%;
    background: #f1f1f1;
    margin-top: 110px;
    margin-right: -440px;

    
  }
  

  
  form.Searchbar button:hover {
    background: #0b7dda;
  }
  
  form.Searchbar::after {
    content: "";
    clear: both;
    display: table;



  }



.main_div{
    width: 180px;
    height: 250px;
    padding: 5px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* border: solid black; */
    /* background-color: gain       sboro; */
}

input{
    font-size: 15px;
    padding: 5px;
    margin: 7px;
}

.icons{
    width: 20px;
    height: 20px;
    margin: auto;
    /* border-radius: 100px; */
}

button{
    border: 0px;
    margin: 3px;
    padding: 5px;
    color: whitesmoke;
    background-color: black;
    
}

#login-options button{
    width: 150px;
}

a{
    text-decoration: none;
    color: black;
}








/* SIGN UP HTML FILE */







